In [7]:
import yfinance as yf
import pandas as pd

print('hello')

# Define the ticker symbol for Tesla
ticker_symbol = "TSLA"

# Fetch the data for the year 2023
start = "2023-01-01"
end = "2023-12-31"

print('Downloading. This will take some time')
df = yf.download(tickers=ticker_symbol, start=start, end=end)
print('Downloaded!')

hello
before

[*********************100%***********************]  1 of 1 completed

after
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2023-01-03 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       250 non-null    float64
 1   High       250 non-null    float64
 2   Low        250 non-null    float64
 3   Close      250 non-null    float64
 4   Adj Close  250 non-null    float64
 5   Volume     250 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [8]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,118.470001,118.800003,104.639999,108.099998,108.099998,231402800
2023-01-04,109.110001,114.589996,107.519997,113.639999,113.639999,180389000
2023-01-05,110.510002,111.750000,107.160004,110.339996,110.339996,157986300
2023-01-06,103.000000,114.389999,101.809998,113.059998,113.059998,220911100
2023-01-09,118.959999,123.519997,117.110001,119.769997,119.769997,190284000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2023-01-03 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       250 non-null    float64
 1   High       250 non-null    float64
 2   Low        250 non-null    float64
 3   Close      250 non-null    float64
 4   Adj Close  250 non-null    float64
 5   Volume     250 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [11]:
df.to_csv("tesla_data_2023.csv")